.freeze
  span(class="cry") RoOar!
  .wrapper
    .dinosaur(class="run")
      .body
        .head
          .head-mask
          ul
            li
            li
            li
            li
          .eye
        .hand
          .elbow
            .forearm
        #second-hand(class="hand")
          .elbow
            .forearm
        .leg
          .knee
            .foreleg                          
        #second-leg(class="leg")
          .knee
            .foreleg  
        .body-mask
          ul
            li
            li
            li
            li
            li
        .mark
        ul(class="tail")
          li
          li
          li
          li
          li
          li