body {
  margin: 0;
  padding: 0;
  background-color: #403C54;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#card{
  position: relative;
  min-width: 350px;
  width: 30%;
  height: 80%;  
  min-height: 250px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
}

.card_info{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  padding-top: 24px;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  z-index: 1;
  pointer-events: none;
}

#animation{
  width: 100%;
  height: 100%;
}

h3{
  margin: 0;
  font-size: 10vh;
  font-weight: 600;
  line-height: 1.2;
  opacity: 0.08;
  transition: opacity 0.4s ease;
}
#card:hover h3{
  transform: translateX(0px);
  opacity: 0.5;
}

h4{
  margin: 0;
  font-size: 4vh;
  line-height: 1.2;
  font-weight: 400;
  transition: transform 0.4s ease;
  opacity: 0.8;
  transform: translateX(150px);
}
#card:hover h4{
  transform: translateX(0px);
}

.flex{
  flex: 1;
}

#credits{
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

#credits:hover {
  opacity: 1;
}

h1{
  margin-left: 18px;
  font-size: 18px;
  line-height: 1;
}

#icon{  
  width: 36px;
  height: 36px;
  fill: white;
}

.navigation_icon{
  fill: rgba(255,255,255,0.1);
  transition: fill 0.3s ease;
  width: 80px;
  height: 80px;
  margin: 24px;
}

.navigation_icon:hover{
  fill: white;
}

#C,#D,#E,#F,#G,#A,#B{
  cursor: pointer;
}